<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SSHServer" value="192.168.56.109" />
    <add key="ServerName" value="centos-tg" />
    <add key="SSHPort" value="22" />
    <add key="SSHUser" value="handsome" />
    <add key="SSHPasswd" value="handsome" />
    <add key="ExcelDetail" value="E:\VSS\HSTRADES11\Documents\D2.Designs\详细设计\金融产品销售系统_详细设计说明书.xls" />
    <add key="LocalDir" value="C:\src\" />
    <add key="RemoteDir" value="/home/handsome/src/" />
    <add key="InitBegin" value="90" />
    <add key="InitEnd" value="90" />
    <add key="ModuleOrder" value="0" />
    <add key="ModBaseDir" value="E:\Work\xgd\"/>
    <add key="ModAuthor" value="高虎"/>
  </appSettings>
</configuration>