<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpSvn"
                          publicKeyToken="d729672594885a28"
                          culture="neutral" />
        <bindingRedirect oldVersion="1.6017.1920.11722"
                         newVersion="1.7002.1998.12257"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
